# Log files
*.log
daily_report.log

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Local environment/configuration
.env
.vscode/settings.json

#Terraform
terraform/terraform.tfvars
terraform/.terraform/
terraform/tfplan

terraform/*.tfstate
terraform/*.tfstate.*
